<!-- Image Preview Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body p-0 text-center">
                <img src="" alt="Preview" id="fullPreviewImage" class="full-preview-img">
                <button type="button" class="btn-close-preview" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg"></i>
                </button>
                <div class="preview-info-bar" id="previewInfoBar">
                    <span id="previewCaption"></span>
                    <span id="previewResolution"></span>
                </div>
            </div>
        </div>
    </div>
</div>