<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <div class="logo-inner">
    <img src="/assets/img/dsr24.png" alt="DSR24 Logo">
  </div>
  <ul class="nav-menu">
    <li class="li-final">
    <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
      <span id="currentWebsite">dsr24.de</span>
    </a>

      <ul class="sidebar-submenu" id="siteList">
      <li><a href="#" onclick="switchSite('kfzvs.de')">kfzvs.de</a></li>
      <li><a href="#" onclick="switchSite('dsgutachten.de')">dsgutachten.de</a></li>
    </ul>
  </li>


    <li class="nav-link"><a href="/index.html">Dashboard</a></li>
    <li class="nav-link"><a href="#">Pages</a></li>
    <li class="nav-link"><a href="#">Blog</a></li>
    <li class="nav-link li-final"><a href="#">FAQ</a></li>
    <li class="nav-link"><a href="/media.html">Media</a></li>
    <li class="nav-link"><a href="/downloads.html">Downloads</a></li>
    <li class="nav-link li-final"><a href="/jobs.html">Jobs</a></li>
  </ul>

  <div class="settings-wrapper">
    <a href="#">Settings</a>
  </div>

</div>